.finxos-toolbar {
  position: fixed;
  .toolbar-wrapper {
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(-5px);
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 4px;
  }
}
