.finxos-toolbar {
  position: fixed;
  .toolbar-wrapper {
    height: 38px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(-5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 4px;
    padding: 5px;
  }
  .toolbar-button {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2px;
    &:last-of-type {
      margin-right: 0;
    }
    &.active,
    &:hover {
      background: $active-gray-bg;
      svg {
        @include svg-color($active-gray);
      }
    }
    svg {
      width: 16px;
      height: 16px;
      @include svg-color($disable-color);
    }
  }
}
