.finxos-toolbar {
  position: fixed;
  .toolbar-wrapper{
    width:100px;
    height:30px;
    background: red;
    position: absolute;
    bottom:0;
    left:0;
    transform: translateX(-50%);
  }

}
