.finxos-icon-button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 2px;
  color: $default-color;
  &:last-of-type {
    margin-right: 0;
  }

  &.finxos-icon-button--disabled {
    cursor: default;
    color: $disable-color;
    @include svg-color($disable-color);
  }
  &:hover:not(.finxos-icon-button--disabled) {
    background: $active-gray-bg;
    color: $active-gray;
    svg {
      @include svg-color($active-gray);
    }
  }
  &.active:not(.finxos-icon-button--disabled) {
    background: $active-gray-bg;
    color: $blue;
    svg {
      @include svg-color($blue);
    }
  }
  svg {
    @include svg-color($default-color);
  }
}
