.finxos-link {
  color: #4e95ff;
}
.finxos-link-tooltip {
  .ant-tooltip-inner {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .ant-tooltip-arrow::before {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 10px;
    height: 10px;
  }
  .finxos-link-popup__content {
    width: 350px;
    display: flex;
    align-items: center;
  }
  .link-tooltip__content {
    flex-grow: 1;
  }
  .finxos-link-popup__wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .link-popup--show {
    display: flex;
  }
  .link-popup--hide {
    display: none;
  }
}
