.finxos-transform {
  position: relative;
  &::after {
    content: 'Enter "/" to select block.';
    color: #e8e8e8;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.finxos-transform-block-list__item {
  display: flex;
  .finxos-transform-block-list__item-name {
    margin-left: 10px;
  }
}
