.finxos-header {
  position: fixed;
  left: 0;
  top: 0;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid #e2e4e7;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 30px;

  .header__left{
    display: flex;
  }
}
